/* meme.css */

body{
	padding: 0;
	margin: 0;
	font-family: Helvetica, sans-serif, Arial;
	color: #505050;
}


#main{
	max-width: 900px;
	margin: 20px auto;
	border: 1px solid #3498DB;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	box-shadow: 0px 0px 5px 1px rgba(0, 152, 219, 0.5);
}

#main h1{
	margin-left: 40px;
	text-shadow: 0px 0px 3px rgba(80, 80, 80, 0.6);
}

input{
	  -webkit-appearance:none;
    -moz-appearance:none;
}

#textInputs{
	width:786px;
	margin: 20px auto;
}

#textInputs input{
	width: 300px;
	height: 50px;
	outline:none;
	border: 1px solid #3498db;
	
	font-size:1.3em;
	color: #707070;
	font-weight:100;
	text-align:center;
	
	-webkit-border-radius: 60px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 60px;
	-moz-border-radius-bottomright: 0;
	border-radius: 60px;
	border-bottom-right-radius: 0;

}

#textInputs input:focus{
	box-shadow: 0px 0px 3px 0px rgba(0, 152, 219, 0.80);
}

label:nth-child(3){
	margin-left: 10px;
}

#fileInput{
	width: 600px;
	margin: 10px auto;
	border: 1px solid #505050;
}

#imageThumbnail{
	display: inline-block;
	float:right;
	max-width:	150px;
	max-height: 100px;
	border: 1px solid #505050;
}
canvas{
	display:block;
	margin: 10px auto;
}

#saveMessage{
	margin-left: 40px;
}
